/* For every page of a character */

.content{
    background-color: rgb(36, 36, 36);
    margin: 2rem;
    border-radius: 30px;
    border: solid;  
}

.navbar-details{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-bottom: solid;
}

.link-details{
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}

/* Marqueur onglet qui s'adapte au combatType */
.combatTypeCssLinkPhysical{
    color: #b2adad;
}
.combatTypeCssLinkFire:visited{
    color: #f84f36
}
.combatTypeCssLinkIce:visited{
    color: #47c7fd;
}
.combatTypeCssLinkLightning:visited{
    color: #df54ff;
}
.combatTypeCssLinkWind:visited{
    color: #46de9d;
}
.combatTypeCssLinkQuantum:visited{
    color: #8880ff;
}
.combatTypeCssLinkImaginary:visited{
    color: #ffeb61;
}

/* Ability */
.abilities-content{
    margin: 2rem;
}

.table-sizing {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    background-color: rgb(78, 78, 78);
}

td, tr, th{
    border-radius: 30px;
    border: 2px solid rgb(36, 36, 36);
    padding: 0.5rem;
    width: 12%;
}

.center{
    text-align: center;
}

/* error msg */

.container-error-msg{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-msg-emote{
    width: 15%;
}

.error-msg-emote{


}

.error-msg{
    width: 20%;
    font-size: 1.5rem;
}