/* For every page of a character */

.content{
    background-color: rgb(36, 36, 36);
    margin: 2rem;
    border-radius: 30px;
    border: solid;  
}

.navbar-details{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-bottom: solid;
}

.link-details{
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}

/* Marqueur onglet qui s'adapte au combatType */
.combatTypeCssLinkPhysical{
    color: #b2adad;
}
.combatTypeCssLinkFire:visited{
    color: #f84f36
}
.combatTypeCssLinkIce:visited{
    color: #47c7fd;
}
.combatTypeCssLinkLightning:visited{
    color: #df54ff;
}
.combatTypeCssLinkWind:visited{
    color: #46de9d;
}
.combatTypeCssLinkQuantum:visited{
    color: #8880ff;
}
.combatTypeCssLinkImaginary:visited{
    color: #ffeb61;
}

/* Biography */

.introduction{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.splash-art{
    width: 60rem;
    border-radius: 100%;
    filter: blur(5px); /* Ajustez le rayon du flou selon vos besoins */
    object-fit: cover; /* Ajustez le comportement de l'image */
    object-position: center;
}

.biography-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bio-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bio-character-name{
    font-size: 4rem;
}

.path-combatType-box{
    display: inline-flex;
    width: 60%;
    justify-content: space-between;
}

.path-box, .combatType-box{
    display: inline-flex;
    align-items: center;
}