/* Reset CSS */
html {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
}

ol, ul {
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
}

/* Reset CSS fin */

/* Layout */

.main{
    background-color: black;
    color: white;
    min-height: 100vh;
}

.nav{
    background-color: rgb(36, 36, 36);
    margin-bottom: 1rem;
    display: inline-flex;
    width: 100%;
}
.nav-left{
    display: flex;
    width: 50%;
    justify-content: space-around;  
    padding: 1rem;
}

.nav-right{
    display: flex;
    width: 50%;
    justify-content: space-around;  
    padding: 1rem;
}

.nav-links{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.footer{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
}

/* Layout fin */

/* Character List */

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 36, 36);
    margin: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 30px;
    border: solid;  
}

.card-only{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-link{
    margin: 1rem;
    height: auto;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    display: block;
    transition: transform 0.3s;
}

.card-link:hover{
    transform: scale(1.1);
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 15rem;
    height: auto;
    border-radius: 30px;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-character-name{
    padding: 1rem;
}

.card-img{
    width: 30rem;
    object-fit: cover;
}

/* Fin Character List */

/* Biography Playable Character */

.content{
    background-color: rgb(36, 36, 36);
    margin: 2rem;
    border-radius: 30px;
    border: solid;  
}

.navbar-details{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-bottom: solid;
}

.link-details{
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}

/* Marqueur onglet qui s'adapte au combatType */
.combatTypeCssLinkPhysical{
    color: #b2adad;
}
.combatTypeCssLinkFire:visited{
    color: #f84f36
}
.combatTypeCssLinkIce:visited{
    color: #47c7fd;
}
.combatTypeCssLinkLightning:visited{
    color: #df54ff;
}
.combatTypeCssLinkWind:visited{
    color: #46de9d;
}
.combatTypeCssLinkQuantum:visited{
    color: #8880ff;
}
.combatTypeCssLinkImaginary:visited{
    color: #ffeb61;
}

.introduction{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}

.splash-art{
    width: 60rem;
    border-radius: 100%;
}

.biography-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bio-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bio-character-name{
    font-size: 4rem;
}

.path-combatType-box{
    display: inline-flex;
    width: 80%;
    justify-content: space-between;
}

.path-box, .combatType-box{
    display: inline-flex;
    align-items: center;
}

/* Fin Biography Playable Character */

/* Début Abilities Playable Character */

.abilities-content{
    margin: 2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

td, tr{
    border: solid 2px grey;
    padding: 0.5rem;
    width: 12%;
}

.center{
    text-align: center;
}

/* Fin Abilities Playable Character */

/* Début Ascend Playable Character */

.ascend-content{
    margin: 2rem;
}

.eidolon-nbr{
    width: 5%;
    text-align: center;
}

.eidolon-name{
    width: 100%;
}

/* Fin Ascend Playable Character */

/* Début Login */

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-content{
    background-color: rgb(36, 36, 36);
    margin: 2rem;
    border-radius: 30px;
    border: solid;  
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 30%;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Fin Login */