.content{
    margin: 2rem;
}

section{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2{
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#3a7bc0, #e9cf9a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

